{% load static %}
<html>
    <head>
        <title>to do list page</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">        
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1>TodoList App</a></h1>
        </div>

        <div class="content container">
        	<div class="row">
        		<h2>yeni kayıt sayfası</h2>
        		<div class="col-md-8">
        			
				    <div class="todo">
				    	<form action="" method="post">{% csrf_token %}
				    		<label for="description">Description</label><br>				    		
				    		<input type="text" style="width:200px; height:25px;" id="description" name="title" placeholder="What do you need to do?" name="description" required>
				    		<input type="submit" value="save">
				    	</form>					        
				    </div>
				
        		<div>
        	</div>
        </div>
    </body>
</html>